.banner-container {
  position: relative;
  height: 400px;
  overflow: hidden;
  display: flex;
  align-items: center; // Center content vertically
  justify-content: flex-end; // Align content to the right
  padding: 0 2rem;
  background-color: #000; // Fallback color

  .banner-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1; // Ensure image is in the background
    opacity: 0.7; // Add some transparency to the image
  }

  .content-overlay {
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
    max-width: 27%;
    margin-right: 50px;
  }

  .banner-title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: 46px;
  }

  .banner-subtitle {
    font-size: 1.25rem;
    margin-bottom: 2rem;
    font-weight: 300;
  }

  .contact-button {
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 0.5rem 1.5rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #e5e5e5;
    }
  }

  @media (min-width: 768px) {
    .banner-title {
      font-size: 3rem;
    }

    .banner-subtitle {
      font-size: 1.5rem;
    }
  }

  @media (min-width: 1024px) {
    .banner-title {
      font-size: 3.5rem;
    }

    .banner-subtitle {
      font-size: 1.75rem;
    }
  }
}
