:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}
.container{
  width: 80%;
  margin: 0 auto;

}

.logistics-container {
  padding: 50px;
  margin-top: 4%;
  text-align: center;
  /* background: url(/src/components/service-items/images/transportation_technology_footer.png); */
  color: #333;
  background-repeat: no-repeat;
  background-size: cover;
  height: 305px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}