.aerospace-section .logistics-container {
  background-image: url(../industry/footer-images/industry-footer-aeroscope.png);
}
.automotive-section .logistics-container {
  background-image: url(../industry/footer-images/industry-footer-automotive.png);
}
.consumer-goods-section .logistics-container {
  background-image: url(../industry/footer-images/industry-footer-consumer.png);
}
.energy-section .logistics-container {
  background-image: url(../industry/footer-images/industry-footer-energy.png);
}
.healthcare-section .logistics-container {
  background-image: url(../industry/footer-images/industry-footer-healtcare.png);
}
.manufacturing-section .logistics-container {
  background-image: url(../industry/footer-images/industry-footer-manufacturing.png);
}
.show-freight-section .logistics-container {
  background-image: url(../industry/footer-images/industry-footer-show.png);
}
.technology-section .logistics-container {
  background-image: url(../industry/footer-images/industry-footer-technology.png);
}


.key-point-parent {
  background-color: #f0eded;
  padding: 20px;
  padding-bottom: 0px;
}
.industry-herosection-liner{
  width: 80%;
  margin: 0 auto;
//   font-family: 'Inter';
// font-style: normal;
// font-weight: 400;
// font-size: 32px;
// line-height: 120%;
}
.industry-information h2{
  font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 61px;
}
.industry-description{
  font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
}
.key-point-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  width: 70%;
  margin: 0 auto;
  padding-block: 40px;
  padding-bottom: 20px;
}

.key-point-section > div {
  width: 30%;
  background-color: #fff;
  border-radius: 16px;
  padding: 20px;
  margin-bottom: 30px;
  border: 1px solid #D9D9D9;
  text-align: center;
  box-sizing: border-box;
  min-height: 150px;
}

.card-content .card-description {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #000000;
}

/* Additional CSS for the hero-section and other classes */

.hero-section {
  position: relative;
  height: 60vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  &.with-video {
    .video-background {
      position: absolute;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      transform: translate(-50%, -50%);
      object-fit: cover;
      z-index: -1;
    }
  }

  &.with-image {
    .background-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      z-index: -1;
    }
  }

  .hero-content {
    position: relative;
    z-index: 1;
    text-align: center;
    color: #ffffff;
    padding: 20px;

    h1 {
      font-family: 'Inter', sans-serif;
      font-weight: 700;
      font-size: 72px;
      letter-spacing: -0.03em;
      margin-bottom: 1rem;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      margin-top: 0;
    }

    p {
      font-size: 1.5rem;
      margin-bottom: 2rem;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
      font-family: 'Inter', sans-serif;
      font-weight: 400;
      font-size: 32px;
      line-height: 38px;
      text-align: center;
      color: #fbf6f6;
    }

    .hero-button {
      display: inline-block;
      padding: 12px 24px;
      font-size: 1.2rem;
      text-decoration: none;
      color: #2c2c2c;
      background: #ffffff;
      border: 1px solid #2c2c2c;
      border-radius: 8px;

      &:hover {
        background-color: #2c2c2c;
        color: #ffffff;
        font-weight: bold;
      }
    }
  }
}

/* Media queries for responsiveness */
@media (max-width: 1024px) {

  .key-point-section {
    width: 90%;
  }

  .key-point-section > div {
    width: 45%;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .key-point-section > div {
    width: 48%; /* Adjusting to fit two cards with some gap */
  }
}

@media (max-width: 600px) {
  .key-point-section > div {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .industry-information {
    width: 80% !important;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  
  .hero-section .hero-content h1 {
    font-size: 2.5rem;
  }

  .hero-section .hero-content p {
    font-size: 1.2rem;
  }

  .hero-section .hero-content .hero-button {
    font-size: 1rem;
    padding: 10px 20px;
  }
}

@media (max-width: 480px) {
  .hero-section .hero-content h1 {
    font-size: 2rem;
  }

  .hero-section .hero-content p {
    font-size: 1rem;
  }

  .hero-section .hero-content .hero-button {
    font-size: 0.9rem;
    padding: 8px 16px;
  }
}

/* Air Freight and Warehouse Management Specific Styling */
.air-freight-section .hero-section .hero-content h1,
.warehouse_managment .hero-section .hero-content h1 {
  color: #180b0c;
}

.air-freight-section .hero-section .hero-content p,
.warehouse_managment .hero-section .hero-content p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}

.air-freight-section .hero-section .hero-button,
.warehouse_managment .hero-section .hero-button {
  display: inline-block;
  padding: 12px 24px;
  font-size: 1.2rem;
  text-decoration: none;
  color: #ffffff;
  background: #2c2c2c;
  border: 1px solid #2c2c2c;
  border-radius: 8px;

  &:hover {
    background-color: #ffffff;
    color: #2c2c2c;
    font-weight: bold;
  }
}

.industry-information {
  width: 70%;
  margin: 0 auto;
  padding-bottom: 40px;
}
.logistics-container{
  margin-top: 0px !important;
}
.industry-information h2 {
  text-align: center;
}
